.body{
    width: 100%;
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    height: 80px;
    border-bottom: 4px solid #2E8B57;
    padding: 0px 0px 5px 0px;
    margin-bottom: 1px;
}

.title{
    float: left;
    font-size: 1.3em;
    margin: 0em;
    position: relative;
    left:5%;
    top: 30px;
    font-family: Helvetica Neue;
    font-weight: bold;
}

.logo{
    float: left;
    width: 80px;
    height: 80px;
    position: relative;
    left: 3%;
    margin-left: 20px;
}

.logout{
    float: right;
    margin-right: 20px;
    margin-top: 40px;
    color: #2E8B57;
    font-size: 1.1em;
    text-decoration-color: #2E8B57;
}

.user_role{
    float: right;
    margin-top: 45px;
    margin-right: 50px;
}

.user_name{
    float: right;
    margin-right: 50px;
    margin-top: 45px;
}

.user_logo{
    float: right;
    margin-top: 20px;
}

#content{
    width: 100%;
    position: relative;
    background-color: rgb(230, 230, 230);
}
.clear{
    clear: both;
}

.clearfix{
    *zoom: 1;
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* 8888888888888888888888888888888888888888888888888888888888888888888 */
.left-bar{
    margin: 0px;
    width: 20%;
    float: left;
    left: 0;
    box-shadow: 6px 0px 12px 0 rgba(0, 0, 0, 0.1);
    margin-right: -8px;
}

.left-bar > ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 100px;

}

.left-bar > ul >li{
    background-color: #F5F5F5;
    margin-bottom: 20px;
    height: 50px;
    width: 103%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.left-bar > ul >li:hover{
    background-color: #c4c3c3;
}
.menu-item:hover{
    background-color: #2E8B57;
    color: white;
}

.menu-item {
    background-color: #fff;
    border-color: #fff;
    border-style: none;
    position: relative;
    bottom: 7px;
    left: 23px;
    height: 25px;
    width: 150px;
    border-radius: 10%;
}

.left-bar > ul> li > img{
    margin-top: 10px;
    margin-left: 25%;
}


/* 88888888888888888888888888888888888888888888888888888888888888888888 */
.right-content{
    width: 79%;
    height: 100%;
    position: relative;
    left: 15px;
    float: left;
    background-color: white;
}

.top-bar{
    width: 100%;
    height: 80px;
    box-shadow: -6px 2px 5px rgba(0, 0, 0, .12);
}

.content_bck{
    width: 90%;
    /* height: 600px; */
    margin: 0 auto;
    border-color:  #DCDCDC;
    border-radius: 2%;
    border-left: 7px inset;
    border-top: 7px inset ;
    border-right: 2px groove;
    border-bottom: 2px groove;
    margin-top: 30px;
}

.operation{
    margin: 50px 20px;
}

.content_white_bck{
    float: left;
    width: 99%;
    height: 95%;
    margin-top: 20px;
    margin-left: 7px;
    border-radius: 5%;
}

.circular{
    margin: 20px;
    padding: 0;
}

#left_circular{
    float: left;
}

#right_circular{
    float: right;
}
