.search-box{
    width: 100%;
    padding: 30px 0px 50px 40px;
}
.el-icon-search{
    float: left;
    font-size: 35px;
    font-weight: bold;
    color: #2E8B57;
    margin-right: 20px;
}
.search-input{
    width: 50%;
    float: left;
}
 .el-input__inner:focus{
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: -1px 3px 10px 2px rgba(0, 0, 0, 0.1);
}
.el-input-group__append button.el-button{
    background-color: #2E8B57;
    color: white;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
.btn-search:hover{
    background-color: #2E8B57;
}
.img-wrapper2{
    float: right;
    margin-top: -30px;
    width: 100px;
    height: 100px;
    background: url(../img/decoration2.png) -350px -250px no-repeat;
    transform: rotate(-180deg);
}
/**** ***el-tabs**********/
.el-tabs__header{
    margin-left:100px;
    margin-bottom: 2px;
}
.el-tabs__nav-wrap::after{
    background-color: white;
}
.el-tabs__active-bar{
    background-color: #2E8B57;
    box-shadow: 1px 1px 1px 1px #2E8B57;
}
.el-tabs__item.is-active{
    color: rgb(116, 115, 115);
    font-size: 90%;
    font:bold;
}
/*****main******* */
.result-box{
    border-top: 1px solid rgb(230, 230, 230);
    padding: 0px;
    margin: 0px;
}

.result-wrapper{
    width: 70%;
    height: 500px;
    /* border: 1px solid black; */
    position: relative;
    background-color:rgb(250, 249, 249,0.6) ;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
    margin: 20px 0px 40px 40px;
    padding: 10px 0px 20px 60px;
}
.img-wrapper1{
    width: 100%;
    float: left;
    margin-top: -200px;
    height: 225px;
    background: url(../img/decoration3.png) 0px 0px no-repeat;
}

/***************************** */
.clearfix{
    *zoom: 1;
}
.clearfix::after{
    content: ",";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.pagination{
    position: relative;
    bottom: -5%;
    left: 35%;
  }
